<!-- <!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Home</title>
</head>
<body>
 <h1>Welcome to My Website</h1>
 
 </ul>
</body>
</html> -->
{% extends "base.html" %}
{% block sidebar %}
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-2">
            
            <ul class="sidebar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'CurrentWeather' %}">Current Weather</a></li>
                <!-- <li><a href="">Weather Forecasts</a></li> -->
            </ul>
        </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
<!-- <div class="column">
            <div class="box">
                <span class="is-small has-text-grey-light">
                    <h5>Click Below Button to get started</h5>
                    <form action="currentweather/" method="post">
                        {% csrf_token %}
                        {{ form.as_p}}
                       
                        <button class="button is-success is-fullwidth is-medium mt-5"
                                type="submit">Search
                        </button>
                    </form>
                </span>
            </div>

</div> -->

{% endblock page_content %}